<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <h2>Bienvenido, {{ username }}</h2>
    <form>
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input [(ngModel)]="nombre" name="nombre"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Apellido</ion-label>
        <ion-input [(ngModel)]="apellido" name="apellido"></ion-input>
      </ion-item>
      <ion-item>
        <mat-form-field appearance="fill">
          <mat-label>Fecha de Nacimiento</mat-label>
          <input matInput [matDatepicker]="picker" [(ngModel)]="fechaNacimiento" name="fechaNacimiento">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </ion-item>
      <ion-item>
        <ion-label>Nivel de educación</ion-label>
        <ion-select [(ngModel)]="nivelEducacion" name="nivelEducacion">
          <ion-select-option value="primaria">Primaria</ion-select-option>
          <ion-select-option value="secundaria">Secundaria</ion-select-option>
          <ion-select-option value="universitaria">Universitaria</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-button expand="full" (click)="mostrar()">Mostrar</ion-button>
      <ion-button expand="full" (click)="limpiar()">Limpiar</ion-button>
    </form>
  </div>
</ion-content>